<!DOCTYPE html>
<html>
    <style>
    body{
        text-align: center;
    }
</style>
<head>
    <title>Pokemon Search</title>
</head>
<body>

<h1>Pokemon Search</h1>
<form method="GET">
        <input type="text" name="type" placeholder="Enter Pokemon type">
        <button type="submit">Search</button>
    </form>

{% if pokemon_list %}
    <h2>Results</h2>

    {% for pokemon in pokemon_list %}
            <div>
                <a href="{% url 'pokemon_detail' pokemon.name %}">
                 {{ pokemon.name }}</a>
                <img src="{{ pokemon.image }}" alt="{{ pokemon.name }}">
                <p>Type: {{ pokemon.type }}</p></div><hr>
        {% endfor %}
    {% endif %}

{% if error %}
    <p style="color:red;">{{ error }}</p>
{% endif %}

</body>
</html>